<div>
    <h1>Productos</h1>
    <section>
        {{#each products.docs}}
            <div>
                <h3>{{this.title}} (code: <span id="code">{{this.code}}</span>)</h3>
                <h4>Categoría: {{this.category}}</h4>

                <p>{{this.description}}</p>
                <p>Precio: ${{this.price}}</p>
            </div>
            <div>
                <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
            </div>
        {{/each}}
    </section>
    <div>
        {{#if prevLink}}
            <a href="{{prevLink}}">Página anterior</a>
        {{/if}}
        {{page}}
        {{#if nextLink}}
            <a href="{{nextLink}}">Página siguiente</a>
        {{/if}}
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/addToCart.js"></script>