<div>
    <h1>Productos</h1>
    <button onclick="prueba()">Prueba</button>
    <section>
        {{#each products}}
            <div>
                <h3>{{this.title}} (id: {{this.id}})</h3>
                <h4>Categoría: {{this.category}}</h4>

                <p>{{this.description}}</p>
                <p>Precio: ${{this.price}}</p>
            </div>
        {{/each}}
    </section>
</div>

<script>
    const prueba = () => {
        console.log("prueba")
    }
</script>